<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ErpApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.Users.UserEditActivity"
            android:exported="false" />
        <activity
            android:name=".LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Users.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Users.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reports.StockReportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reports.SalesReportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reports.BalanceSheetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reports.CashFlowReportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.expenses.AddExpensesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.expenses.AccountsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.stock.AddStockActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Users.UsersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.expenses.ExpensesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.reports.ReportsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.sales.SalesActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.categories.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.products.ProductsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Fragments.CaptureAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme" />
    </application>

</manifest>